<%- include("./partials/header") %>
<div class="container">
    <div class="container">
        <header class="jumbotron">
            <h1>Welcome to Electronics Store</h1>
        </header>
    </div>
    <% if(currentUser && currentUser.username == 'admin') { %>
        <a class="btn btn-warning" href="/products/new">Add</a>
        
    <% } %>
    <div class="container">
        <div class="row">
            <% products.forEach(function(product){ %>
                <div class="col-lg-3 col-md-4 col-sm-6 column">
                    <div class="card">
                        <div>
                            <img class="card-img-top img-fluid" src="<%= product.image %>" alt="">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-text"><%= product.name %></h5>
                            <p class="price">$<%= product.price %></p>
                            <a href="/products/<%= product._id %>" class="btn btn-primary">Show Info</a>
                        </div>
                    </div>
                </div>
            <% }) %>   
        </div>     
    </div>
</div>
 
<%- include("./partials/footer") %>