<%- include("./partials/header") %>
<div class="container">
    <div class="container">
        <header class="jumbotron">
            <h1>Welcome to Electronics Store</h1>
        </header>
    </div>
    <% if(currentUser && currentUser.username == 'admin') { %>
        <a class="btn btn-warning" href="/products/new">Add</a>
        
    <% } %>
    <div class="container">
        <div class="row">
            <% products.forEach(function(product){ %>
                <div class="col-6 col-md-4 col-lg-3">
                    <!-- Card -->
                    <div class="card mb-7">
                      <!-- Image -->
                      <div class="card-img">
                        <!-- Image -->
                        <a class="card-img-hover" href="/products/<%= product._id %>">
                          <img id = 'productsImage' class="card-img-top card-img-front" src="<%= product.image %>" alt="...">
                        </a>
                        <!-- Actions -->
                      </div>
                      <!-- Body -->
                      <div class="card-body px-0">
                        <!-- Category -->
                        <div class="font-size-xs">
                          <p class="text-muted"><%= product.category %></p>
                        </div>
                        <!-- Title -->
                        <div class="font-weight-bold">
                          <a class="text-body" href="/products/<%= product._id %>">
                            <%= product.name %>
                          </a>
                        </div>
                        <!-- Price -->
                        <div class="font-weight-bold text-muted">
                            $<%= product.price %>
                        </div>
                        <div>
                            <a href="/products/<%= product._id %>" class="btn btn-outline-info btn-sm">Show Info</a>
                            <a href="/addtocart/<%= product._id %>" class="btn btn-primary btn-sm">Add to Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
            <% }) %>   
        </div>     
    </div>
</div>
 
<%- include("./partials/footer") %>